.main {
  min-height: 80vh;
  margin-top: 60px;
  margin-bottom: 70px;
}

.container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 30px;
}

.left {
  width: 800px;
  font-family: "Open Sans";
  background-color: white;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.left p {
  margin-top: 10px;
  text-align: justify;
  font-size: 0.95rem;
}

.left h2 {
  border-bottom: 2px solid var(--main-color);
  width: max-content;
}

.rigth picture {
  width: 800px;
  height: 400px;
  object-fit: fill;
}

.right picture img {
  border-radius: 5px;
  width: 800px;
  height: 400px;
}

.right {
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  width: 800px;
}

.center {
  display: flex;
  gap: 3.8rem;
  font-family: "Open Sans";
  justify-items: center;
  width: 800px;
}

.center div {
  max-width: 400px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

.center div h2 {
  font-size: 20px;
  border-bottom: 2px solid var(--main-color);
  width: max-content;
  margin-bottom: 5px;
}

.center div p {
  font-size: 0.9rem;
  text-align: justify;
}

.bottom {
  background-color: white;
  width: 800px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.bottom-border {
  font-family: "Open Sans";
  padding: 15px 20px;
}

.bottom-border h2 {
  border-bottom: 2px solid var(--main-color);
  width: max-content;
  margin-bottom: 10px;
  font-size: 20px;
}

.bottom-border p {
  font-weight: 600;
  font-size: 0.95rem;
}

@media (min-width: 650px) and (max-width: 850px) {

  .right picture img {
    border-radius: 5px;
    max-width: 600px;
    max-height: 400px;
  }

  .right {
    width: 600px
  }

  .left {
    max-width: 600px;
  }


  .center {
    width: 600px;
  }

  .bottom {
    width: 600px;
  }
}

@media (min-width: 600px) and (max-width: 650px) {

  .right picture img {
    border-radius: 5px;
    max-width: 550px;
    max-height: 400px;
  }

  .right {
    width: 550px
  }

  .left {
    max-width: 550px;
  }


  .center {
    width: 550px;
  }

  .bottom {
    width: 550px;
  }
}


@media (max-width: 600px) {

  .right picture img {
    border-radius: 5px;
    max-width: 500px;
    max-height: 300px;
  }

    .right {
    max-width: 500px;
  }

  .left {
    max-width: 500px;
  }

  .center div {
    width: 220px;
  }

  .center {
    width: 500px
  }

  .bottom {
    max-width: 500px;
  }
}

@media (max-width: 550px) {
  .right picture img {
    border-radius: 5px;
    max-width: 400px;
    max-height: 250px;
  }

  .left {
    max-width: 400px;
  }

  .right {
    width: 400px
  }

  .center {
    width: 400px;
    flex-direction: column;
    place-items: center;
    gap: 20px;
  }

  .center div {
    width: 400px;
  }

  .center div p {
    font-size: 15px;
  }

  .bottom {
    max-width: 400px;
  }

    .bottom-border p {
    font-size: 0.8rem;
  }

}

@media (max-width: 450px) {
  .right picture img {
    border-radius: 5px;
    max-width: 300px;
    max-height: 200px;
  }

  .left {
    max-width: 300px;
  }

  .right {
    width: 300px
  }

  .center {
    width: 300px;
    flex-direction: column;
    place-items: center;
    gap: 20px;
  }

  .center div {
    width: 300px;
  }

  .left p {
    font-size: 0.80rem;
  }
  

  .center div p {
    font-size: 0.8rem;
  }

  .bottom {
    max-width: 300px;
  }

  .bottom-border p {
    font-size: 0.8rem;
  }
}

@media (max-width: 340px){

}
