.bar {
    background-color: black;
    padding: 20px 0px;
    width: 100%
}

.bar a {
    margin-left: 100px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 500;
    color: #f9faf8;
    text-decoration: none;
    
}