.container {
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 900px;
  height: 200px;
}
.container img {
  height: 250px;
  width: 380px;
  border-radius: 5px;
  cursor: pointer;
}

.preview {
  align-self: flex-start;
}

.container div:first-of-type picture {
  object-fit: contain;
  width: 400px;
  height: 200px;
  display: grid;
  place-items: center;
}

.titulo {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
}

.titulo:hover {
  color: #1182d5;
}

.fecha {
  font-weight: 700;
  font-size: 18px;
  color: rgb(100, 100, 100);
}

@media (max-width: 600px) {
  .container div:first-of-type picture {
    object-fit: contain;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }

  .container {
    max-width: 400px;
    height: 200px;
    flex-direction: column;
  }

  .titulo {
    font-size: 1rem;
    text-align: center;
  }

  .fecha {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container img {
    height: 180px;
    width: 280px;
  }

  .container {
    width: 350px;
  }

  .container div:first-of-type picture {
    width: 350px;
  }

  .titulo,
  .fecha {
    font-size: 18px;
  }
}

@media (max-width: 380px) {
  .container img {
    height: 160px;
    width: 260px;
  }

  .container {
    width: 330px;
  }

  .container div:first-of-type picture {
    width: 330px;
  }

  .titulo,
  .fecha {
    font-size: 18px;
  }
}

@media (min-width: 800px) and (max-width: 1050px) {
  .container {
    width: 700px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .container {
    flex-direction: column;
    gap: 70px;
    width: 400px;
  }

  .titulo {
    font-size: 1.3rem;
    text-align: center;
  }

  .fecha {
    font-size: 1.3rem;
    text-align: center;
  }
}
