.container {
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 800px;
  height: 300px;
}
.container img {
    height: 250px;
    width: 380px;
  border-radius: 5px;
  cursor: pointer;
}

.container div:first-of-type picture {
  object-fit: contain;
  width: 400px;
  height: 200px;
  display: grid;
  place-items: center;
}

.titulo {
  font-weight: 700;
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
}

.titulo:hover {
  color: #1182d5;
}

.fecha {
  font-weight: 700;
  font-size: 18px;
  color: rgb(100, 100, 100);
}

@media (max-width: 600px) {
  .container div:first-of-type picture {
    object-fit: contain;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
  }

  .container {
    max-width: 400px;
    height: 200px;
  }

  .titulo {
    font-size: 1rem;
    text-align: left;
  }

  .fecha {
    font-size: 1rem;
  }
}
