.container {
  margin: 20px 50px;
  height: 93%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.back img {
  height: 20px;
}

.back {
  background-color: white;
  width: max-content;
  padding: 9px 12px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  place-items: center;
  user-select: none;
}

.back span {
  font-weight: 500;
}

.back span:first-of-type {
  cursor: pointer;
}

.back span:first-of-type:hover {
  color: var(--main-color);
}

.second-cursor {
  cursor: pointer;
}

.second-cursor:hover {
  color: var(--main-color);
}

.back span:last-of-type {
  color: var(--main-color);
}

.back-two {
  background-color: white;
  width: max-content;
  padding: 0px 12px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  display: flex;
  place-items: center;
}

.back-two span:last-of-type {
  font-weight: 500;
  color: var(--main-color);
}

.first-row {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.first-row input[type="text"] {
  appearance: none;
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 180);
  outline-color: var(--main-color);
  outline-width: 0.5px;
  padding: 10px;
  width: 300px;
  height: 42px;
}

.data-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.data-container table {
  border-collapse: separate;
  border-spacing: 8px;
}

.data-container thead {
  user-select: none;
}

.data-container td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px;
}

.title-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0px 10px;
  margin-bottom: 20px;
  justify-items: start;
}

.title-row p {
  border-bottom: 2px solid var(--main-color);
  width: max-content;
  font-weight: 600;
}

.data-container table {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.data-container th {
  text-align: center;
}


.data-container td {
  text-align: center;
}

.button-cell button {
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  padding: 4px 10px;
  color: var(--main-color);
  font-weight: 600;
  cursor: pointer;
}

.button-cell {
  display: flex;
  justify-content: center;
}

.button-cell button:hover {
  background-color: #e8f4fd;
}

.last-row {
  position: absolute;
  bottom: 0px;
}

.modal {
  position: fixed;
  top: 15%;
  left: 22%;
  width: 800px;
  height: 500px;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
}

.modal-first-row {
  display: flex;
  gap: 5px;
}

.modal-first-row div {
  padding: 5px 10px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: medium;
}

.information p {
  border: 1px solid rgb(200, 200, 200);
  min-height: 80px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
}

.information {
  margin-top: 10px;
}

.status-green {
  color: green;
  background-color: #d3ffd3;
  padding: 2px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: small;
}

.status-red {
  color: white;
  background-color: rgb(218, 107, 107);
  padding: 2px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: small;
}

.status-yellow {
  color: #b1a200;
  background-color: #ffed27;
  padding: 2px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: small;
}

.status-gray {
  color: black;
  background-color: rgb(226, 226, 226);
  padding: 2px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: small;
}

.status-purple {
  color: #552baa;
  background-color: #dacef3;
  padding: 2px;
  place-self: center;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: small;
}

.first-row div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-row div:nth-of-type(2) > div:first-of-type > div > div:nth-child(1) {
  height: 25px;
}

.first-row div:nth-of-type(2) div:first-of-type div div:nth-of-type(2) {
  top: 2px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  place-self: center;
  margin-top: 15%;
  background: var(--main-color);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.image-div img {
  height: 250px;
}

.image-div {
  display: flex;
  flex-direction: column;
  place-content: center;
  height: 100%;
  text-align: center;
}

.list-image-div img {
  height: 100px;
}

.list-image-div {
  display: flex;
  flex-direction: column;
  place-content: center;
  text-align: center;
  margin: 10%;
}

.row {
  display: flex;
  margin-top: 15px;
  gap: 10px;
  font-size: 14px;
}

.gray-box,
.green-box,
.normal-box,
.purple-box {
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gray-box p:first-of-type,
.green-box p:first-of-type,
.normal-box p:first-of-type,
.purple-box p:first-of-type {
  font-weight: 500;
  text-align: center;
}

.gray-box p:last-of-type,
.green-box p:last-of-type,
.normal-box p:last-of-type,
.purple-box p:last-of-type {
  font-weight: 700;
  text-align: center;
}

.gray-box {
  background-color: rgb(226, 226, 226);
}

.gray-box:hover {
  background-color: rgb(218, 218, 218);
}

.green-box {
  color: green;
  background-color: #ceffce;
}

.green-box:hover {
  background-color: #baffba;
}

.purple-box {
  color: #552baa;
  background-color: #dacef3;
}

.purple-box:hover {
  background-color: #cebeef;
}

.normal-box {
  border: 1px solid rgb(180, 180, 180);
  box-shadow: none;
}

.normal-box:hover {
  background-color: rgb(250, 250, 250);
}

@media (max-width: 750px){
  .first-row {
    justify-content: start;
  }
}

@media (max-width: 725px){
  .first-row  input[type="text"] {
    width: 100%;
  }
}

@media (max-width: 626px){
  .first-row {
    flex-direction: column;
    align-items: flex-start;
  }
}