.footer {
    background-color: black;
    padding: 20px 0px;
    width: 100%
}

.footer p {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 500;
    color: #f9faf8;
    
}

.footer {
    display: grid;
    justify-content: center;
}

@media(max-width:600px){
    .footer {
        display: grid;
        justify-content: center;
    }

    .footer p {
        margin-left: 0px;
    }
}