.header {
  display: grid;
  place-content: center;
  grid-template-columns: 300px 3.5fr;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(210, 210, 210);
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}

.container {
  place-self: center;
  object-fit: contain;
}

.menu {
  width: 35px;
  height: 35px;
  display: none;
  cursor: pointer;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container img {
  object-fit: contain;
  cursor: pointer;
  margin-left: 70px;
}

.nav {
  margin-left: 300px;
  background-color: white;
}

.active {
  display: flex;
  align-items: center;
}

.toggled {
  display: flex;
}

.ul {
  align-self: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: max-content;
  font-family: "Open Sans";
  font-size: 1em;
  font-weight: 600;
}

.a {
  color: inherit;
  text-decoration: inherit;
  text-transform: capitalize;
}

.li {
  width: fit-content;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  padding: 5px;
  padding-bottom: 8px;
}

.li {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.li:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--main-color);
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.li:hover:before,
.li:focus:before,
.li:active:before {
  left: 0;
  right: 0;
}

.placeholder {
  object-fit: contain;
  cursor: pointer;
  padding: 1px;
}

.placeholder img {
  border-radius: 50%;
  height: 40px;
  width: 44px;
}

.shopping-bag {
  font-family: "Open Sans";
  align-self: center;
  font-weight: 700;
}

.user-container {
  display: grid;
  grid-template-columns: 40px 40px;
  margin-left: 300px;
  gap: 10px;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 160px;
  gap: 10px;
}

.buttons-container button {
  height: 40px;
  width: 110px;
  font-family: "Open Sans";
  font-weight: 600;
  cursor: pointer;
}


.container img {
  height: 60px;
  width: 300px
}

.buttons-container button:first-of-type {
  width: 130px;
}

.buttons-container button:nth-of-type(1) {
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.buttons-container button:nth-of-type(2) {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: white;
}

.buttons-container button:nth-of-type(1):hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: white;
}

.buttons-container button:nth-of-type(2):hover {
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: black;
}

@media (max-width: 600px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .container img {
    height: 100px;
    width: 300px;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 50px;
  }
}

@media (max-width: 480px) {
  .container img {
    height: 100px;
    width: 250px;
  }

  .logo-menu {
    gap: 30px;
  }
}

@media (max-width: 380px) {
  .container img {
    height: 100px;
    width: 250px;
  }

  .logo-menu {
    gap: 20px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 649px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 100px;
  }
}

@media only screen and (min-width: 650px) and (max-width: 699px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 150px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 749px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 200px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 750px) and (max-width: 799px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 250px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 849px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 300px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 899px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 350px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 949px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 400px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 991px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 450px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1050px) {
  .header {
    grid-template-columns: none;
    grid-template-rows: auto;
  }

  .ul {
    flex-direction: column;
    justify-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .nav {
    margin-left: 0px;
  }

  .active {
    display: none;
  }

  .li a {
    text-align: start;
  }

  .menu {
    display: block;
  }

  .container img {
    margin-left: 0px;
  }

  .logo-menu {
    gap: 500px;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1099px) {
  .nav {
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1149px) {
  .container img {
    margin-left: 50px;
  }

  .nav {
    margin-left: 150px;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1199px) {
  .container img {
    margin-left: 60px;
  }

  .nav {
    margin-left: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) and (max-width:1300px) {
  .nav {
    margin-left: 220px
  }
}
