.main {
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.placeholder {
  height: 200px;
  width: 400px;
  display: flex;
  align-self: center;
  border-radius: 10px;
  margin: auto;
}

.hero-container {
  font-family: "Open Sans";
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  padding: 15px;
  flex-wrap: wrap;
  height: 400px;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 100px;
  position: relative;
}

.hero-maintext {
  font-size: 2.8rem;
  margin-bottom: 4px;
  width: 600px;
  font-weight: 800;
  color: var(--main-color);
  text-shadow: 2px 2px 0px whitesmoke;
}

.hero-subtext {
  word-wrap: break-word;
  width: 700px;
  font-size: 1.2rem;
  color: var(--main-color);
  text-shadow: 2px 2px 0px whitesmoke;
  font-weight: 800;
}

.hero-text {
  flex-shrink: 0;
  color: white;
  width: 400px;
  word-wrap: break-word;
  white-space: normal;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #3882f6;
  border-style: none;
  padding: 9px 38px;
  border-radius: 6px;
  font-size: 15px;
  font-family: "Open Sans";
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* Information */

.placeholder-two {
  height: 140px;
  width: 150px;
  background: linear-gradient(white, white);
  border: 3px solid #3882f6;
  border-radius: 9px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  height: 500px;
  margin-bottom: 50px;
}

.information-header {
  flex-shrink: 0;
  text-align: center;
  font-size: 1.8rem;
  border-bottom: 5px solid var(--main-color);
  font-weight: 800;
  color: #1f2937;
  padding-top: 50px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.information-content {
  flex-shrink: 0;
  width: 200px;
  text-align: center;
}

.information-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 100px;
}

.line-break {
  width: 100%;
  margin-bottom: 25px;
}

.text {
  font-weight: 500;
  margin: 0px 22px 0px;
}

/* Information */

/* Testimonial */

.testimonial {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 0px 250px;
  font-family: "Open Sans";
  margin: 0 100px;
}

.texto {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  text-align: justify;
}

.textimonial {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  font-size: 18px;
}

/* Testimonial */

.services {
  min-height: 450px;
}

.services {
  text-align: center;
  font-family: "Open Sans";
}

.services h1 {
  display: inline-block;
  border-bottom: 5px solid var(--main-color);
  font-size: 1.8rem;
  font-weight: 800;
  color: #1f2937;
  padding-bottom: 10px;
  margin-top: 40px;
}
.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 400px);
}
.service {
  display: inline-block;
  width: 400px;
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.4s;
  z-index: -1;
  justify-self: center;
  align-self: flex-start;
}
.service img {
  filter: invert(47%) sepia(91%) saturate(1322%) hue-rotate(181deg)
    brightness(92%) contrast(101%);
  height: 48px;
  width: 48px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.service h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #1f2937;
  margin: 0;
}
.service p {
  color: gray;
  font-size: 1rem;
  font-weight: 500;
}

.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
  gap: 20px;
}
.embla__slide {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
}

.embla__viewport {
  overflow: hidden;
  max-width: 1200px;
  height: 400px;
}

.prev,
.next {
  position: absolute;
  width: 40px;
  height: 40px;
  color: white;
  margin-bottom: 50px;
  border-radius: 50%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 20px;
  background-color: var(--main-color);
  border: 0;
  cursor: pointer;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.prev img, .next img {
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(130deg) brightness(104%) contrast(100%);
}

.prev:hover,
.next:hover {
  background-color: #1077c2;
}

.photo {
  z-index: -2;
  position: relative;
  left: 200px;
}

.photo img {
  height: 200px;
  opacity: 1;
  object-fit: cover;
  display: none;
}

@media (max-width: 600px) {
  .hero-container {
    justify-content: center;
    padding-left: 0px;
    align-self: center;
  }

  .hero-maintext {
    font-size: 2.2rem;
  }

  .services {
    width: 100vw;
    min-height: 350px;
  }

    .information-header {
    font-size: 1.7rem;
  }

  .services h1 {
    font-size: 1.7rem;
  }

  .service {
    width: 100vw;
  }

  .cen {
    width: 100vw;
    grid-template-columns: 400px;
  }


  .main {
    max-width: 100vw;
  }
}

@media (max-width: 480px) {
  .hero-container {
    padding-left: 15vw;
    height: 300px;
  }
  .hero-maintext {
    font-size: 1.8rem;
  }

  .hero-subtext {
    font-size: 1rem;
  }

  .information-header {
    font-size: 1.5rem;
  }

  .services h1 {
    font-size: 1.5rem;
  }

  .service h2 {
    font-size: 1rem;
  }
  .service p {
    color: gray;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .information {
    margin-bottom: 0px;
  }

}

@media (max-width: 380px) {
  .hero-container {
    padding-left: 30vw;
  }
  .hero-maintext {
    font-size: 1.6rem;
  }

  .hero-subtext {
    font-size: 0.8rem;
  }

  .information-header {
    font-size: 1.3rem;
  }

  .services h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 340px){
  .hero-container {
    padding-left: 45vw;
  }
  .hero-maintext {
    font-size: 1.4rem;
  }

  .hero-subtext {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 649px) {
  .hero-container {
    justify-content: center;
    padding-left: 0px;
    align-self: center;
  }

  .hero-maintext {
    font-size: 2.4rem;
  }

  .services {
    width: 100vw;
    min-height: 350px;
  }

    .information-header {
    font-size: 1.7rem;
  }

  .services h1 {
    font-size: 1.7rem;
  }

  .service {
    width: 100vw;
  }

  .cen {
    width: 100vw;
    grid-template-columns: 400px;
  }


  .main {
    max-width: 100vw;
  }
}

@media only screen and (min-width: 650px) and (max-width: 699px) {
  .hero-container {
    justify-content: center;
    padding-left: 0px;
    align-self: center;
    margin-left: -80px;
  }

  .hero-maintext {
    font-size: 2.7rem;
  }

  .services {
    width: 100vw;
    min-height: 350px;
  }

    .information-header {
    font-size: 1.7rem;
  }

  .services h1 {
    font-size: 1.7rem;
  }

  .service {
    width: 100vw;
  }

  .cen {
    width: 100vw;
    grid-template-columns: 400px;
  }


  .main {
    max-width: 100vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) and (max-width: 850px) {
  .cen {
    grid-template-columns: 300px 300px;
    column-gap: 50px;
  }

  .service:nth-of-type(5) {
    margin-left: 20rem;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1150px) {
  .cen {
    grid-template-columns: 300px 300px;
    column-gap: 80px;
  }
  .service:nth-of-type(5) {
    margin-left: 23rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1150px) {
  .service:nth-of-type(4) {
    margin-left: 25rem;
  }
  .service:nth-of-type(5) {
    margin-left: 25rem;
  }
}
