.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 50px;
  margin-bottom: 20px;
}

.data-container {
  place-self: center;
  background-color: white;
  width: 800px;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
  font-family: "Open Sans";
  padding: 10px 0px;
  align-self: flex-start;
  margin-top: 45px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 10px;
  padding-right: 20px;
  background-color: rgb(200, 200, 200);
  border-radius: 5px;
}

.row h3 {
  justify-self: center;
}

.cel {
  padding: 10px;
  padding: 10px;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin-top: 10px;
}

.data div:not(div:last-of-type) {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  place-self: center;
}

.data:nth-child(1) {
  text-overflow: ellipsis;
}

.data div:last-of-type {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.data div:last-of-type button {
  padding: 4px 6px;
  font-weight: 600;
  cursor: pointer;
}

.data button:nth-of-type(1) {
  background-color: rgb(128, 245, 37);
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.data button:nth-of-type(1):hover {
  background-color: rgb(106, 223, 0);
}

.data button:nth-of-type(2) {
  background-color: rgb(200, 20, 25);
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

.data button:nth-of-type(2):hover {
  background-color: rgb(182, 18, 23)
}

.edit-form {
  margin-top: 35px;
}

.button:nth-of-type(1) {
  background-color: rgb(128, 245, 37);
  font-family: "Open Sans";
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.button:nth-of-type(1):hover {
  background-color: rgb(106, 223, 0);
}

.button:nth-of-type(2) {
  background-color: inherit;
  font-family: "Open Sans";
  color: black;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 170px;
}

.button:nth-of-type(2):hover {
  background-color: rgb(200, 200, 200);
}

.edit-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-form input {
  font-family: "Open Sans";
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(230, 230, 230);
}

.edit-form h2 {
  font-family: "Open Sans";
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.new-form {
  place-self: center;
}

.new-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.new-form input {
  font-family: "Open Sans";
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgb(230, 230, 230);
}

.new-form h2 {
  font-family: "Open Sans";
  margin-bottom: 10px;
}

.new-form {
  padding: 50px;
  margin-right: 20px;
  max-width: 1000px;
}

.main-new {
  display: grid;
  place-items: center;
  margin: 0px;
}

.new-button {
  margin-top: 20px;
  width: 280px;
  font-family: "Open Sans";
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  padding: 10px 0px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.loader {
  display: grid;
  place-content: center;
  width: 100%;
}

.new-button:hover {
  background-color: #1182d5;
}

.new-btn {
  width: 100%;
  font-family: "Open Sans";
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  padding: 10px 0px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    place-content: center;
    max-width: 400px;
    gap: 0px;
  }

  .data-container {
    width: 400px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(2),
  .row h3:nth-of-type(3),
  .row h3:nth-of-type(4) {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr;
  }

  .data div:nth-of-type(2),
  .data div:nth-of-type(3),
  .data div:nth-of-type(4) {
    display: none;
  }

  .data {
    grid-template-columns: 1fr 1fr;
  }

  .container div:first-of-type aside {
    justify-self: center;
  }

  .container>div:first-of-type {
    display: grid;
  }

  .new-button {
    justify-self: center;
  }
}


@media (max-width: 410px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    place-content: center;
    gap: 0px;
  }

  .data-container {
    width: 300px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(2),
  .row h3:nth-of-type(3),
  .row h3:nth-of-type(4) {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr;
  }

  .data div:nth-of-type(2),
  .data div:nth-of-type(3),
  .data div:nth-of-type(4) {
    display: none;
  }

  .data {
    grid-template-columns: 1fr 1fr;
  }

  .container div:first-of-type aside {
    justify-self: center;
  }

  .container>div:first-of-type {
    display: grid;
  }

  .new-button {
    justify-self: center;
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .data-container {
    width: 700px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(4) {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .data div:nth-of-type(4) {
    display: none;
  }

  .data {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }

}

@media (min-width: 1050px) and (max-width: 1150px) {
  .data-container {
    width: 600px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(4) {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .data div:nth-of-type(4) {
    display: none;
  }

  .data {
    grid-template-columns: 1fr 1fr 1fr 1fr ;
  }

}

@media (min-width: 950px) and (max-width: 1050px) {
  .data-container {
    width: 500px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(3),
  .row h3:nth-of-type(4) {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .data div:nth-of-type(3),
  .data div:nth-of-type(4)  {
    display: none;
  }

  .data {
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media (min-width: 720px) and (max-width: 950px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    place-content: center;
    gap: 0px;
  }

  .data-container {
    width: 700px;
    margin-top: 50px;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .data {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .container div:first-of-type aside {
    justify-self: center;
  }

  .container>div:first-of-type {
    display: grid;
  }

  .new-button {
    justify-self: center;
  }

}

@media (min-width: 600px) and (max-width: 720px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    place-content: center;
    gap: 0px;
  }

  .data-container {
    width: 500px;
    margin-top: 50px;
  }

  .row h3:nth-of-type(3),
  .row h3:nth-of-type(4) {
    display: none;
  }

  .data div:nth-of-type(3),
  .data div:nth-of-type(4)  {
    display: none;
  }

  .row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .data {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container div:first-of-type aside {
    justify-self: center;
  }

  .container>div:first-of-type {
    display: grid;
  }

  .new-button {
    justify-self: center;
  }

}