.products {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 30px;
}

.left-container input[name="search_bar"] {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  outline-color: var(--main-color);
  appearance: none;
  border-radius: 5px;
}

.checkboxes h4 {
  text-transform: uppercase;
  font-family: "Open Sans";
  margin-top: 40px;
}

.right-container h3 {
  font-family: "Open Sans";
}

.right-container h3 span {
  color: var(--main-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  margin-left: -2%;
  place-items: center;
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: none;
    grid-template-rows: 10% 90%;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .left-container {
    width: max-content;
    height: max-content;
  }
}

.left-container, .right-container {
  margin-top: 10px;
}
