.products {
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 40px;
  place-content: center;
  min-height: 85vh;
  padding: 50px 0px;
}

.loader-container {
  min-height: 380px;
  display: grid;
  place-content: center;
  width: 800px;
}

.not-found {
  min-height: 380px;
  width: 800px;
  color: var(--main-color)
}

.not-found h2 {
  font-family: "Open Sans";
  text-align: center;
}

.not-found h3 {
  text-align: center;
}

.pagination {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}

.pagination button {
  font-family: "Open Sans";
  background-color: var(--main-color);
  padding: 8px 10px;
  font-weight: 700;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #1182d5;
}

.pagination button:disabled {
  background-color: #b1daf9;
  cursor: default;
}

.left-container input[name="search_bar"] {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(220, 220, 220);
  padding: 10px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  outline-color: var(--main-color);
  appearance: none;
  border-radius: 5px;
}

.checkboxes h4 {
  text-transform: uppercase;
  font-family: "Open Sans";
  margin-top: 40px;
}

.right-container h3 {
  font-family: "Open Sans";
}

.right-container h3 span {
  color: var(--main-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  margin-left: -2%;
  place-items: center;
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: none;
    grid-template-rows: 50px 1fr;
  }

  .products {
    width: 400px;

  }


  .container {
    grid-template-columns: 1fr;
  }

}
